<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_MageAI
 */
-->

<div class="admin__field mageai-field">
    <div class="admin__field-label"></div>
    <div class="admin__field-control">
        <button type="button"
                click="action"
                class="action-default scalable" 
                disable="disabled"
                attr="'data-index': index, 'aria-labelledby': ariLabelledby">
            <span attr="'id': buttonTextId" text="title"></span>
        </button>
    </div>
</div>
