<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_MageAI
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ManiyaTech_Core::core">
                    <resource id="ManiyaTech_MageAI::main" title="MageAI Settings" translate="title" sortOrder="100">
                        <resource id="ManiyaTech_MageAI::actions" title="Actions" translate="title">
                            <resource id="ManiyaTech_MageAI::generate" title="Generate Text" translate="title" sortOrder="10"/>
                        </resource>
                        <resource id="ManiyaTech_MageAI::configuration_menu" title="Configurations" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="ManiyaTech_Core::config">
                                <resource id="ManiyaTech_MageAI::configuration" title="MageAI" translate="title" sortOrder="100"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>

