<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_MageAI
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageai>
            <general>
                <enabled>1</enabled>
            </general>
            <api>
                <base_url>https://api.openai.com</base_url>
                <api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <model>gpt-3.5-turbo</model>
            </api>
            <product_description>
                <attribute>name</attribute>
                <description_prompt><![CDATA[Write a product description (~%d words) for product %s: "%s". Use only HTML body content, no head or body tags.]]></description_prompt>
                <description_words_count>600</description_words_count>
                <short_description_prompt><![CDATA[Write a short product description (~%d words) for product %s: "%s". Use only HTML body content, no head or body tags.]]></short_description_prompt>
                <short_description_words_count>100</short_description_words_count>
            </product_description>
            <product_seo_content>
                <enabled>1</enabled>
                <meta_title><![CDATA[Create meta title (only content) of the following product:\n%s]]></meta_title>
                <meta_description><![CDATA[Create a meta description (short as possible) from the following product:\n%s]]></meta_description>
                <meta_keywords><![CDATA[Create meta keywords (only content) of the following product:\n%s]]></meta_keywords>
            </product_seo_content>
        </mageai>
    </default>
</config>
