<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_MageAI
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mageai" frontName="mageai">
            <module name="ManiyaTech_MageAI"/>
        </route>
    </router>
</config>
