<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_MageAI
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mageai" translate="label" sortOrder="130" type="text" showInDefault="1">
            <class>separator-top</class>
            <label>Mage AI</label>
            <tab>maniyatech</tab>
            <resource>ManiyaTech_MageAI::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General Settings</label>
                <field id="ManiyaTech_MageAI" translate="label" type="label" sortOrder="1" showInDefault="1">
                    <label>Composer Version</label>
                    <frontend_model>ManiyaTech\Core\Block\Adminhtml\System\Config\Composer\Version</frontend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>API Configuration</label>
                <depends><field id="mageai/general/enabled">1</field></depends>
                <field id="base_url" translate="label" type="text" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Base URL</label>
                </field>
                <field id="api_secret" translate="label" type="obscure" sortOrder="20" showInDefault="1">
                    <label>API Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Generate API key from <a href="https://platform.openai.com/account/api-keys">here</a>]]></comment>
                </field>
                <field id="model" translate="label" type="select" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Model</label>
                    <comment><![CDATA[Check <a href="https://platform.openai.com/docs/models/model-endpoint-compatibility" target="_blank">Models</a> for more details]]></comment>
                    <source_model>ManiyaTech\MageAI\Model\Config\Source\AIModel</source_model>
                </field>
            </group>
            <group id="product_description" translate="label" type="text" sortOrder="20" showInDefault="1">
                <label>Product Description Configuration</label>
                <depends><field id="mageai/general/enabled">1</field></depends>
                <field id="attribute" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Product Attribute</label>
                    <comment>Generate content based on selected product attribute value</comment>
                    <source_model>ManiyaTech\MageAI\Model\Config\Source\Attributes</source_model>
                </field>
                <field id="description_prompt" translate="label" type="text" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Description Prompt</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[%d = Description Word Count, %s = Attribute label, %s = Attribute value.]]></comment>
                </field>
                <field id="description_words_count" translate="label" type="text" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Description Word Count</label>
                    <comment>Note that higher word counts may result in longer API response times.</comment>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="short_description_prompt" translate="label" type="text" sortOrder="40" showInDefault="1" canRestore="1">
                    <label>Short Description Prompt</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[%d = Short Description Word Count, %s = Attribute label, %s = Attribute value.]]></comment>
                </field>
                <field id="short_description_words_count" translate="label" type="text" sortOrder="50" showInDefault="1" canRestore="1">
                    <label>Short Description Word Count</label>
                    <comment>Note that higher word counts may result in longer API response times.</comment>
                    <validate>required-entry validate-digits</validate>
                </field>
            </group>
            <group id="product_seo_content" translate="label" type="text" sortOrder="30" showInDefault="1">
                <label>Product SEO Configuration</label>
                <depends><field id="mageai/general/enabled">1</field></depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Is Enable Content Generate Button?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="meta_title" translate="label" type="text" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Meta Title</label>
                    <validate>required-entry</validate>
                </field>
                <field id="meta_description" translate="label" type="text" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Meta Description</label>
                    <validate>required-entry</validate>
                </field>
                <field id="meta_keywords" translate="label" type="text" sortOrder="40" showInDefault="1" canRestore="1">
                    <label>Meta Keywords</label>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
